footer {
	background: $charcoal;
	color: $gray;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0;
	}


	h4 {
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.1em;
		font-size: 0.75em;
		line-height: 1.5em;
		text-align: center;
		font-family: $brandon;
		padding-bottom: 20px;


		a {
			color: $gray;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.hrg-wrapper {

		.row {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding: 10px 0;

			@include tablet-landscape {
				max-width: 80%;
				margin: 0 auto;
			}
		}

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

				width: auto;
				padding: 0;

				& + .logo {
					&:before {
						content: "·";
						display: block;
						padding: 0 10px;
						font-weight: 900;
						font-size: 1.5em;
						transform: translateY(2px);
					}
				}

			a {
				font-family: $brandon;
				color: $gray;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				letter-spacing: 0.1em;
				font-size: 0.875em;
				

				@include tablet-landscape {
					font-size: 1em;
				}

				&:hover {
					text-decoration: underline;
				}
			}




		}
	}


}