header {
	padding: 50px 0;

	.wrapper {
		max-width: 1100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 240px;

		@include mobile-landscape {
			width: 400px;
		}

		img {
			width: 100%;
		}
	}

	.social {
		display: flex;
		align-items: center;

		a {
			display: block;
			max-width: 16px;

			& + a {
				margin-left: 20px
			}

			@include mobile-landscape {
				max-width: 24px;

				& + a {
					margin-left: 30px
				}
			}

			img {
				width: 100%;
			}
		}
	}

}
