body.home {

	section.announcement {

		background: $light-gray;
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding: 75px 0 0 0;
		}

		.wrapper {
			max-width: 1024px;
		}

		.info {
			padding: 25px;
			background: $cream;
			text-align: center;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
			font-family: $brandon;
			border-radius: 3px;

			p {
				font-size: 1.125rem;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.25rem;
				}

				a {
					color: $green;
					text-decoration: underline;
				}
			}
		}

		& + section.fare {
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 75px;
			}
		}


	}

	section.fare {
		background: $light-gray;
		padding: 75px 0;

		@include tablet-portrait {
			padding: 150px 0;
		}

		.wrapper {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 50px 25px;
			max-width: 1024px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}


			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		article {
			background: $cream;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.info {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.info-wrapper {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}

				.headline {
					padding-bottom: 20px;

					h4 {
						font-family: archer;
						font-style: italic;
						font-weight: 500;
						font-size: 0.9375em;
					}
				}

				.logos {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-bottom: 40px;

					.logo {
						max-width: 100px;
						max-height: 25px;

						img {
							width: 100%;
							height: 25px;
						}


						& + .logo {
							margin-left: 20px;
						}
					}
				}

				.menu {
					padding-bottom: 20px;


					a {
						display: block;
						&:hover {
							text-decoration: underline;
						}

						span {
							display: block;
						}

						.icon {
							max-width: 16px;
							margin: 0 auto 10px auto;
						}

						.label {
							color: $green;
							font-weight: bold;
							font-family: $brandon;
							text-transform: uppercase;
							letter-spacing: 0.05em;
							font-size: 0.8125em;
						}
					}
				}

				.cta {
					border-top: 1px solid $green;
					padding-top: 20px;
					
				}
			}
		}

		.new {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;

			.circle {
				background: $yellow;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 80px;
				transform: translate3d(20px, -20px, 0);

				@include tablet-landscape {
					width: 100px;
					height: 100px;
					transform: translate3d(50px, -50px, 0);
				}

				h4 {
					color: $white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.125em;
					letter-spacing: 0.05em;

					@include tablet-landscape {
						font-size: 1.5em;
					}
				}
			}
		}

		.photo {
			@include aspect-ratio(285, 245);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}			
		}

		.info {
			padding: 25px;
			text-align: center;
		}
	}

	section.about {
		padding: 75px 0;
		text-align: center;

		.wrapper {
			max-width: 1024px;
		}

		.headline {
			h5 {
				text-transform: uppercase;
				font-style: italic;
				font-weight: 900;
				font-size: 0.8125em;
				letter-spacing: 0.05em;
			}
		}

		.logos {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding-top: 30px;

			.logo {
				margin: 0 20px 20px 20px;

				img {
					max-width: 100px;
					height: 18px;

					&.purple {
						max-width: 120px;
						height: 24px;
					}
				}

				@include tablet-portrait {
					margin: 0;

					& + .logo {
						margin-left: 30px;
					}
				}
			}
		}

		.copy {
			padding-top: 50px;

			p {
				font-weight: 700;
				font-size: 0.875em;
				line-height: 1.75em;

				@include tablet-portrait {
					font-size: 1em;
				}
			}
		}
	}

	section.contact {
		padding: 0 0 50px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 0 0 100px 0;
		}

		.wrapper {
			max-width: 1024px;
		}

		.header {
			padding-bottom: 50px;

			h2 {
				text-transform: uppercase;
				color: $green;
				font-weight: 900;
				letter-spacing: 0.05em;
				font-size: 1.125em;
			}

		}

		.contact-options {
			border-top: 2px solid $green;
			border-bottom: 2px solid $green;
			padding: 25px 0;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;


			.option {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				width: 100%;

				& + .option {
					padding-top: 50px;
				}

				@include mobile-landscape {
					width: calc(50% - 25px);

					& + .option {
						padding-top: 0;
					}
				}

				@include tablet-portrait {
					width: calc(33.3333% - 25px);
				}

				.icon {
					flex: 1;

					width: 32px;					
					margin: 0 auto;

					img {
						max-width: 32px;
						max-height: 36px;
					}
				}

				&.email {
					.icon {
						margin-top: 10px;
					}
				}

				.info {
					padding-top: 20px;

					.headline {
						padding-bottom: 10px;
						h4 {
							text-transform: uppercase;
							color: $green;
							letter-spacing: 0.05em;
							font-weight: 900;
							font-size: 0.875em;
						}
					}

					.link {
						a {
							display: inline-block;
							font-weight: 700;
							font-size: 0.9375em;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}


		}

		.contact-statement {
			padding-top: 50px;

			p {
				font-weight: 700;
				font-size: 0.875em;
				line-height: 1.75em;

				@include tablet-portrait {
					font-size: 1em;
				}
			}
		}
	}

	section.footer-photo {
		@include aspect-ratio(1024, 285);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}