html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $archer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $brandon;
	font-weight: 700;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

.btn {
	padding: 15px 25px 13px;
	font-size: 0.875em;
	line-height: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: inline-block;
	font-family: $brandon;
	font-weight: 900;
	background: $green;
	color: $white;
	border-radius: 5px;

	&:hover {
		background: $green;
		color: $white;
	}
}