/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #E1E0E0;
$gray: #7A7777;
$charcoal: #282929;
$slate: #2a2a2a;
$black: #000;

$brown: #221A17;
$cream: #FDFBFA;
$yellow: #CDA42A;
$green: #67783D;


/* Typography
----------------------------------*/
@import url("https://use.typekit.net/clt3euh.css");
$brandon: brandon-grotesque;


@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-BookItalic.woff2') format('woff2'),
        url('fonts/Archer-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-Book.woff2') format('woff2'),
        url('fonts/Archer-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-MediumItalic.woff2') format('woff2'),
        url('fonts/Archer-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-Medium.woff2') format('woff2'),
        url('fonts/Archer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-BoldItalic.woff2') format('woff2'),
        url('fonts/Archer-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archer';
    src: url('fonts/Archer-Bold.woff2') format('woff2'),
        url('fonts/Archer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


$archer: 'Archer', serif;