@charset "UTF-8";
/*

    Theme Name: Heavy Catering v2
    Theme URI: http://heavycatering.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 2.0 of Heavy Catering
    Version: 2.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@import url("https://use.typekit.net/clt3euh.css");
@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-BookItalic.woff2") format("woff2"), url("fonts/Archer-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-Book.woff2") format("woff2"), url("fonts/Archer-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-MediumItalic.woff2") format("woff2"), url("fonts/Archer-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-Medium.woff2") format("woff2"), url("fonts/Archer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-BoldItalic.woff2") format("woff2"), url("fonts/Archer-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Archer';
  src: url("fonts/Archer-Bold.woff2") format("woff2"), url("fonts/Archer-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #67783D;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #67783D;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #2a2a2a;
  font: 400 100%/1 "Archer", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: brandon-grotesque;
  font-weight: 700; }

a {
  color: #2a2a2a;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn {
  padding: 15px 25px 13px;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  font-family: brandon-grotesque;
  font-weight: 900;
  background: #67783D;
  color: #fff;
  border-radius: 5px; }
  .btn:hover {
    background: #67783D;
    color: #fff; }

body {
  background: #FDFBFA; }

.wrapper {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 25px;
  -webkit-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  padding: 50px 0; }
  header .wrapper {
    max-width: 1100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header .logo {
    width: 240px; }
    @media screen and (min-width: 568px) {
      header .logo {
        width: 400px; } }
    header .logo img {
      width: 100%; }
  header .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .social a {
      display: block;
      max-width: 16px; }
      header .social a + a {
        margin-left: 20px; }
      @media screen and (min-width: 568px) {
        header .social a {
          max-width: 24px; }
          header .social a + a {
            margin-left: 30px; } }
      header .social a img {
        width: 100%; }

footer {
  background: #282929;
  color: #7A7777;
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    footer {
      padding: 100px 0; } }
  footer h4 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
    font-family: brandon-grotesque;
    padding-bottom: 20px; }
    footer h4 a {
      color: #7A7777; }
      footer h4 a:hover {
        text-decoration: underline; }
  footer .hrg-wrapper .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 10px 0; }
    @media screen and (min-width: 1024px) {
      footer .hrg-wrapper .row {
        max-width: 80%;
        margin: 0 auto; } }
  footer .hrg-wrapper .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    padding: 0; }
    footer .hrg-wrapper .logo + .logo:before {
      content: "·";
      display: block;
      padding: 0 10px;
      font-weight: 900;
      font-size: 1.5em;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px); }
    footer .hrg-wrapper .logo a {
      font-family: brandon-grotesque;
      color: #7A7777;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 0.875em; }
      @media screen and (min-width: 1024px) {
        footer .hrg-wrapper .logo a {
          font-size: 1em; } }
      footer .hrg-wrapper .logo a:hover {
        text-decoration: underline; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section.announcement {
  background: #E1E0E0;
  padding: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.home section.announcement {
      padding: 75px 0 0 0; } }
  body.home section.announcement .wrapper {
    max-width: 1024px; }
  body.home section.announcement .info {
    padding: 25px;
    background: #FDFBFA;
    text-align: center;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-family: brandon-grotesque;
    border-radius: 3px; }
    body.home section.announcement .info p {
      font-size: 1.125rem;
      line-height: 1.25em; }
      @media screen and (min-width: 768px) {
        body.home section.announcement .info p {
          font-size: 1.25rem; } }
      body.home section.announcement .info p a {
        color: #67783D;
        text-decoration: underline; }
  body.home section.announcement + section.fare {
    padding-top: 50px; }
    @media screen and (min-width: 768px) {
      body.home section.announcement + section.fare {
        padding-top: 75px; } }

body.home section.fare {
  background: #E1E0E0;
  padding: 75px 0; }
  @media screen and (min-width: 768px) {
    body.home section.fare {
      padding: 150px 0; } }
  body.home section.fare .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 25px;
    max-width: 1024px; }
    @media screen and (min-width: 568px) {
      body.home section.fare .wrapper {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 768px) {
      body.home section.fare .wrapper {
        grid-template-columns: 1fr 1fr 1fr; } }
  body.home section.fare article {
    background: #FDFBFA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body.home section.fare article .info {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body.home section.fare article .info .info-wrapper {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      body.home section.fare article .info .headline {
        padding-bottom: 20px; }
        body.home section.fare article .info .headline h4 {
          font-family: archer;
          font-style: italic;
          font-weight: 500;
          font-size: 0.9375em; }
      body.home section.fare article .info .logos {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 40px; }
        body.home section.fare article .info .logos .logo {
          max-width: 100px;
          max-height: 25px; }
          body.home section.fare article .info .logos .logo img {
            width: 100%;
            height: 25px; }
          body.home section.fare article .info .logos .logo + .logo {
            margin-left: 20px; }
      body.home section.fare article .info .menu {
        padding-bottom: 20px; }
        body.home section.fare article .info .menu a {
          display: block; }
          body.home section.fare article .info .menu a:hover {
            text-decoration: underline; }
          body.home section.fare article .info .menu a span {
            display: block; }
          body.home section.fare article .info .menu a .icon {
            max-width: 16px;
            margin: 0 auto 10px auto; }
          body.home section.fare article .info .menu a .label {
            color: #67783D;
            font-weight: bold;
            font-family: brandon-grotesque;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: 0.8125em; }
      body.home section.fare article .info .cta {
        border-top: 1px solid #67783D;
        padding-top: 20px; }
  body.home section.fare .new {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
    body.home section.fare .new .circle {
      background: #CDA42A;
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 80px;
      height: 80px;
      -webkit-transform: translate3d(20px, -20px, 0);
              transform: translate3d(20px, -20px, 0); }
      @media screen and (min-width: 1024px) {
        body.home section.fare .new .circle {
          width: 100px;
          height: 100px;
          -webkit-transform: translate3d(50px, -50px, 0);
                  transform: translate3d(50px, -50px, 0); } }
      body.home section.fare .new .circle h4 {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.125em;
        letter-spacing: 0.05em; }
        @media screen and (min-width: 1024px) {
          body.home section.fare .new .circle h4 {
            font-size: 1.5em; } }
  body.home section.fare .photo {
    position: relative; }
    body.home section.fare .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 85.96491%; }
    body.home section.fare .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body.home section.fare .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  body.home section.fare .info {
    padding: 25px;
    text-align: center; }

body.home section.about {
  padding: 75px 0;
  text-align: center; }
  body.home section.about .wrapper {
    max-width: 1024px; }
  body.home section.about .headline h5 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 0.8125em;
    letter-spacing: 0.05em; }
  body.home section.about .logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 30px; }
    body.home section.about .logos .logo {
      margin: 0 20px 20px 20px; }
      body.home section.about .logos .logo img {
        max-width: 100px;
        height: 18px; }
        body.home section.about .logos .logo img.purple {
          max-width: 120px;
          height: 24px; }
      @media screen and (min-width: 768px) {
        body.home section.about .logos .logo {
          margin: 0; }
          body.home section.about .logos .logo + .logo {
            margin-left: 30px; } }
  body.home section.about .copy {
    padding-top: 50px; }
    body.home section.about .copy p {
      font-weight: 700;
      font-size: 0.875em;
      line-height: 1.75em; }
      @media screen and (min-width: 768px) {
        body.home section.about .copy p {
          font-size: 1em; } }

body.home section.contact {
  padding: 0 0 50px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    body.home section.contact {
      padding: 0 0 100px 0; } }
  body.home section.contact .wrapper {
    max-width: 1024px; }
  body.home section.contact .header {
    padding-bottom: 50px; }
    body.home section.contact .header h2 {
      text-transform: uppercase;
      color: #67783D;
      font-weight: 900;
      letter-spacing: 0.05em;
      font-size: 1.125em; }
  body.home section.contact .contact-options {
    border-top: 2px solid #67783D;
    border-bottom: 2px solid #67783D;
    padding: 25px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.home section.contact .contact-options .option {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 100%;
      width: 100%; }
      body.home section.contact .contact-options .option + .option {
        padding-top: 50px; }
      @media screen and (min-width: 568px) {
        body.home section.contact .contact-options .option {
          width: calc(50% - 25px); }
          body.home section.contact .contact-options .option + .option {
            padding-top: 0; } }
      @media screen and (min-width: 768px) {
        body.home section.contact .contact-options .option {
          width: calc(33.3333% - 25px); } }
      body.home section.contact .contact-options .option .icon {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        width: 32px;
        margin: 0 auto; }
        body.home section.contact .contact-options .option .icon img {
          max-width: 32px;
          max-height: 36px; }
      body.home section.contact .contact-options .option.email .icon {
        margin-top: 10px; }
      body.home section.contact .contact-options .option .info {
        padding-top: 20px; }
        body.home section.contact .contact-options .option .info .headline {
          padding-bottom: 10px; }
          body.home section.contact .contact-options .option .info .headline h4 {
            text-transform: uppercase;
            color: #67783D;
            letter-spacing: 0.05em;
            font-weight: 900;
            font-size: 0.875em; }
        body.home section.contact .contact-options .option .info .link a {
          display: inline-block;
          font-weight: 700;
          font-size: 0.9375em; }
          body.home section.contact .contact-options .option .info .link a:hover {
            text-decoration: underline; }
  body.home section.contact .contact-statement {
    padding-top: 50px; }
    body.home section.contact .contact-statement p {
      font-weight: 700;
      font-size: 0.875em;
      line-height: 1.75em; }
      @media screen and (min-width: 768px) {
        body.home section.contact .contact-statement p {
          font-size: 1em; } }

body.home section.footer-photo {
  position: relative; }
  body.home section.footer-photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 27.83203%; }
  body.home section.footer-photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  body.home section.footer-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
